.search-image {
  background-image: image-url("search2.png");
  background-repeat:  no-repeat;
  width: 100%;
  height: 450pX;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-logo {
  color: white;
  margin-bottom: 20px;
}

.input {
  margin-bottom: 20px;
}

.input.font-awesome {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.studios-logo p {
  margin: 15px 0;
}

.area-search {
  margin-top: 10px;
}

.area {
  padding: 0 5px;
}

.area-logo {
  margin: 10px 0;
}

.tag-logo {
  margin-top: 30px;
  margin-bottom: 10px;
}

.tag-search-name {
  margin: 10px;
}