<div>
  <% if review.liked_by?(current_user) %>
    <div class="like-smallitem">
      <%= link_to studio_review_likes_path(@studio, id: review.id, review_id: review.id), method: :DELETE, remote: true do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
      <% end %>
      <div class="like-string">
        <%= review.likes.count %>
        <span>　いいね</span>
      </div>
    </div>
  <% else %>
    <div class="like-smallitem">
      <%= link_to studio_review_likes_path(@studio, id: review.id, review_id: review.id), method: :POST, remote: true do %>
        <i class="far fa-heart" style="color: red;"></i>
      <% end %>
      <div class="like-string">
        <%= review.likes.count %>
        <span>　いいね</span>
      </div>
    </div>
  <% end %>
</div>

