footer {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  text-align: center;
  height: 70px;
  padding-top: 20px;
}

.notification {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.alert {
  color: #868686;
}