<div classs="row user-wrap">
  <div class="col-lg-3  col-12 mx-auto text-center user-item">
    <h4>フ ォ ロ ワ ー</h4>
  </div>
</div>

<% @users.each do |user| %>
<div class="row user-wrap">
  <div class="col-lg-2 mx-auto text-center">
    <%= attachment_image_tag user, :profile_image, size:"100x100", class: "profile_image", fallback: "no_user.jpg" %>
  </div>
</div>
<div class="row user-wrap">
  <div class="col-lg-4 mx-auto text-center user-profile_name">
    <%= link_to user_path(user) do %>
      <%= user.name %> さん
    <% end %>
  </div>
</div>
<% end %>

<div class="col-lg-12 text-center">
  <%= paginate @users %>
</div>