<%= render 'studios/info' %>

<div class="row studios-container">
  <div class="col-lg-3 mx-auto">
    <div class="card mx-auto studios-logo">
      <span>投稿したスタジオ</span>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="index-line"></div>
  </div>
</div>

<%= render 'studios/index_items', studios: @studios %>
