<div class="row">
  <div class="col-lg-10 col-10 mx-auto">
    <div class="notification" id="notifyMessage2">
      <% if flash[:notice2] %>
        <div class="alert alert-info">
          <%= flash[:notice2] %>
        </div>
      <% end %>
      <% if flash[:alert2] %>
        <div class="alert alert-danger">
          <%= flash[:alert2] %>
        </div>
      <% end %>
    </div>
  </div>
</div>