<header>
  <nav class="navbar navbar-light">
        <div class="navbar-nav mx-auto">
         <%= link_to image_tag('logo.PNG',:width => "200",:height => "70" ), root_path %>
        </div>
        <nav>
        <ul class="nav nav-navbar navbar-right">
          <li>
            <%= link_to "投稿", new_studio_path, class: "btn btn-outline-primary navbar-btn" %>
          </li>
          <li>
            <%= link_to "マイページ", "#" %>
          </li>
        </ul>
        </nav>
  </nav>
</header>