<header>
  <nav class="navbar navbar-fixed-top navbar-light">
        <div class="navbar-nav ml-auto mr-auto">
         <%= link_to "STUDIO DIG", root_path, class: "navbar-brand" %>
        </div>
        <nav>
        <ul class="nav nav-navbar navbar-right">
          <li>
            <%= link_to "投稿", new_studio_path, class: "btn btn-outline-primary navbar-btn" %>
          </li>
          <li>
            <%= link_to "マイページ", "#" %>
          </li>
        </ul>
        </nav>
  </nav>
</header>