// Place all the styles related to the studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-card {
  margin-top: 50px;
}

.studio-new-logo {
  margin-top: 30px;
}

.form-wrap {
  padding: 20px 10px;
}

.error-message {
  color: red;
}

.action-1 {
  margin-bottom: 10px;
}

.multicol {
  margin: 0 auto;
}

.info-card {
  padding: 10px 0;
  margin-top: 20px;

}

.info-item {
  filter:drop-shadow(1px 2px 3px #888888);
}

.studio-container {
  margin-top: 30px;
}

.my-box1 {
  margin-right: 20px;
}

.my-box2 {
  margin-left: 20px;
}