// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-item {
  border-radius: 40px;
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  width: 30%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 30px 0;
  font-size: 20px;
  border: none;
  padding-top: 5px;
  text-decoration: none;
}

.user-btn {
  text-align: center;
  vertical-align: middle;
  margin: 30px 0;
  padding-top: 5px;
}

.profile_image {
  border-radius: 50%;
}