<div class="col-lg-10 mx-auto">
    <div class="card-columns">
      <%= link_to studios_path do%>
        <div class="card multicol">
         <span>みんなの<br>スタジオ</span>
        </div>
      <% end %>

      <%= link_to studios_path do%>
        <div class="card item-card">
         <span>人気の<br>スタジオ</span>
        </div>
      <% end %>

      <%= link_to studios_path do%>
        <div class="card item-card">
         <span>お気に入り<br>スタジオ</span>
        </div>
      <% end %>

      <%= link_to studios_path do%>
        <div class="card item-card">
         <span>スタジオ<br>を登録</span>
        </div>
      <% end %>
    </div>
</div>