<div class="col-lg-10 mx-auto">
  <div class="card info-card">
    <div class="d-flex justify-content-around">
      <%= link_to image_tag('index.PNG',:width => "90",:height => "70" ), studios_path, class: "info-item" %>

      <%= link_to image_tag('rank.PNG',:width => "90",:height => "70" ), ranks_studios_path, class: "info-item"  %>

      <%= link_to image_tag('bookmark.PNG',:width => "90",:height => "70" ), favorites_user_path, class: "info-item"  %>

      <%= link_to image_tag('new.PNG',:width => "90",:height => "70" ), new_studio_path, class: "info-item"  %>
    </div>
  </div>
</div>