<div class="row">
  <div class="col-lg-12">
    <h4><i class="fas fa-tags"></i>タグから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, searches_studios_path(tag_id: tag.id), class: "btn btn-success btn-sm" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h4><i class="fas fa-fire-alt"></i>人気エリアから探す</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to "新宿", searches_studios_path(search: "新宿"), class: "btn btn-success btn-sm" %>
  </div>
</div>
